.page-header {
    width: 100vw;
    height: 100px;
    background-color: #4a4a49;
    display: flex;
    justify-content: space-between;
}

.page-header h1 {
    font-family: $logo-font;
    color: white;
    padding: 35px;
    font-size: 30px;
}

span {
    color: #E58A20;
}


.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $main-font;
}

ul li {
    display: inline;
    padding-right: 65px;
}


a {
    text-decoration: none;
    color: white;
}

.firstlink {
    color: #E58A20;
}