// SCSS ABOUT APP

.box {
  padding: 20px;
}

i {
  font-size: 3rem;
  color: #818181;
}

ul {
  display: flex;
  justify-content: space-around;
  color: #818181;
}

li {
  list-style: none;
  text-align: center;
}