.first-section {
    width: 1400px;
}

.new_plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    background-color: white;
    color: orange;
    font-size: 20px;
    border-bottom: 2px solid lightgray;
    margin-left: 12px;
}

.plan {
    font-size: 25px;
    padding: 10px;
    margin-top: 5px;
}

.button_plan {
    background-color: #FF6600;
    padding: 10px 6px;
    cursor: pointer;
    font: bold 1em 'Open Sans', sans-serif;
    color: #FFFFFA;
    height: 40px;
    text-align: center;
}

.name_plan {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    background-color: white;
    color: #5B605F;
    font-size: 20px;
    padding-left: 10px;
}

.typing_name_plan,
.typing_description_plan,
.typing_week_plan {
    width: 1000px;
    height: 25px;
    margin-top: 10px;
    margin-right: 98px;
}

.description_plan {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    background-color: white;
    color: #5B605F;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;

    input {
        height: 55px;
    }
}

.week_number {
    display: flex;
    justify-content: flex-start;
    width: 1400px;
    background-color: white;
    color: #5B605F;
    font-size: 20px;
    padding-left: 13px;
    margin-top: 30px;

    input {
        height: 25px;
        width: 25px;
        margin-left: 115px;
    }
}

.second-section {
    width: 1400px;
}

.meals {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin-left: 280px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;

    .meal {
        width: 75px;
        text-align: center;
        color: #5B605F;
    }
}



.meals_aboveline {
    width: 1090px;
    border-bottom: 1px solid grey;
    margin-left: 235px;
    padding-top: 50px;
}



.meals_underline {
    width: 1300px;
    border-bottom: 1px solid grey;
    margin-left: 25px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: (100% / 12) * $i;
    }
}

%clearfix {

    &:after,
    &:before {
        display: table;
        clear: both;
        content: '';
    }
}

.third-section {
    width: 1350px;

    .row {
        @extend %clearfix;
        margin-right: 35px;

        [class*='col-'] {
            float: left;
            min-height: 1px;
            margin-top: 3px;
        }
    }
}

select {
    text-align: center;
    color: #5B605F;
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
    width: 210px;
    background-color: white;
    border-radius: 10px;
}

.day {
    text-align: center;
    background: white;
    color: #5B605F;
    font-weight: 700;
    padding: 20px;
    margin-right: 45px;
}